<p-fluid>
    <div class="flex flex-col gap-6 w-full">
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label for="firstname2">Nombre(s)</label>
                <input pInputText id="firstname2" type="text" />
            </div>
            <div class="flex flex-wrap gap-2 w-full">
                <label for="lastname2">Apellido(s)</label>
                <input pInputText id="lastname2" type="text" />
            </div>
        </div>

        <!-- <div class="flex flex-wrap">
            <label for="address">Address</label>
            <textarea pTextarea id="address" rows="4"></textarea>
        </div> -->

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label for="firstname2">Correo electrónico</label>
                <input pInputText id="firstname2" type="text" />
            </div>
            <div class="flex flex-wrap gap-2 w-full">
                <label for="lastname2">Contraseña</label>
                <input pInputText id="lastname2" type="text" />
            </div>
        </div>
    </div>
</p-fluid>